@tailwind base;
@tailwind components;
@tailwind utilities;

/*Global Styles*/

body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  line-height: 1.6;
}
html{
  scroll-behavior: smooth;
}

.fade-section {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s ease;
}

.fade-section.visible {
  opacity: 1;
  transform: translateY(0);
}
